{% extends "layouts/launchpad.html" %}
{% set pageName = data['first-name'] + "'s Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-mvp/" %}
{% set appID = data['url_id'] %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-!-padding-top-9" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title ">
                You have sent your app
              </h1>
              <div class="govuk-panel__body">
                {% for group, details in data['mvpGroupsTypes'] %}
                {% for app in details.apps %}
                {% if app.app_id == data['appType'] %}
                {{ app.app_type }}
                {% endif %}
                {% endfor %}
                {% endfor %}
              </div>
            </div>
            <p class="govuk-body-l govuk-!-margin-bottom-2">You have sent a new app to staff.</p>
            <p class="govuk-body-l">Staff will process it as soon as possible. </p>
            <p class="govuk-body">You can now:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/prisoner-mvp/applications/new/clear-and-send-new-app">send a new app</a></li>
            </ul>

            <p class="govuk-body">Or you can view:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="{{homeURL}}applications/view/new/">this app</a></li>
              <li><a href="{{homeURL}}/applications/">all your apps</a></li>
            </ul>
          </div>
        </div>
      </main>
    </div>
  </div>

</div> <!-- end main content  -->


{% endblock %}