{% extends "layouts/launchpad.html" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-mvp/" %}
{% set appGroup = data['appGroup'] %}


{% block content %}

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
      {% for group, details in data['mvpGroupsTypes'] %}
      {% if group == appGroup %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <form class="form" method="post">
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#appTypes">Choose an app type</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="chooseApp-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <span class="govuk-caption-xl">Send a new app</span>
                  <h1 class="govuk-fieldset__heading">
                    Select app type
                  </h1>
                </legend>
                <div id="chooseApp-hint" class="govuk-hint">
                </div>
                <p id="app-type-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Choose an app type
                </p>
                <div id="appTypes" class="govuk-radios" data-module="govuk-radios">

                  {% for app in details.apps %}
                  {% if loop.last %}
                  <div class="govuk-radios__divider">or</div>
                  {% endif %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ app.app_id }}" name="appType" type="radio" value="{{ app.app_id }}">
                    <label class="govuk-label govuk-radios__label" for="{{ app.app_id }}">
                      {{ app.app_type }}
                    </label>
                  </div>
                  {% endfor %}    

                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button name="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a href="{{homeURL}}applications" class="govuk-link">Cancel</a>
            </div>

          </form>

        </div>

      </div>
      {% endif %}
      {% endfor %}


    </div>
  </div>

</div> <!-- end main content  -->

{% endblock %}