{% extends "layouts/launchpad.html" %}
{% set pageName="John's Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-mvp/" %}
{% set appID = data['url_id'] %}

{% block content %}


<div class="govuk-grid-row" id="main-content">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-two-thirds">

        <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}/applications/">Apps</a>
            </li>
          </ol>
        </div>
      </nav>
      {% for app in data['appsDB'] %}
      {% if app.app_id == appID %}

        {% if app.status !== "Closed" %}

          {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
            <p>You have already sent this app and it is being processed.</p>
          {% endcall %}

      {% endif %}


      <h1 class="govuk-heading-xl">
          {{ app.app_type }}
      </h1>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
            {% if app.status == "New" %}
              <strong class="govuk-tag govuk-tag--yellow">Pending</strong>
            {% elif app.status == "In progress" %}
              <strong class="govuk-tag govuk-tag--yellow">Pending</strong>
            {% elif app.status == "Closed" %}
              {% if app.decision == "Approved" %}
              <strong class="govuk-tag govuk-tag--green">{{ app.decision }}</strong>
              {% elif app.decision == "Declined" %}
              <strong class="govuk-tag govuk-tag--red">{{ app.decision }}</strong>
            {% endif %}
            {% endif %}

    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date
      </dt>
      <dd class="govuk-summary-list__value">
      <p class="govuk-body reldate">{{ app.date_received }}</p>
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Type
      </dt>
      <dd class="govuk-summary-list__value">
      {{ app.app_type }}
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Details
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['app_detail'] %}
          {{ data['app_detail'] }}
        {% else %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla lectus sit amet aliquam euismod. 
        {% endif %}
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  </dl>

  
    

      <a class="govuk-button govuk-button--secondary" href="{{homeURL}}/applications/">Back to the Apps home page</a>
    </div>

          {% endif %}
        {% endfor %}

    </div>
</div>
</div>



{% endblock %}