{% extends "layouts/dps.html" %}

{% set pageName="Messages" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff-latest/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/view/">View all applications</a>
            </li>
          </ol>
        </div>
      </nav>

      <span class="govuk-caption-xl">
        {% set appID = data['url_id'] %}
        {% for app in data['staffAppsDB'] %}
        {% if app.app_id == appID %}
        {{ app.app_type }}
        {% endif %}
        {% endfor %}
      </span>
      {% for app in data['staffAppsDB'] %}
      {% if app.app_id == appID %}
      <h1 class="govuk-heading-xl">
        {{ app.app_type }}
      </h1>

      {% include "./includes/status.html" %}

      {% endif %}
      {% endfor %}

    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">

      {% for app in data['staffAppsDB'] %}
      {% if app.app_id == appID %}

      {% include "./includes/actions.html" %}
      {% set msgCount = (app.messages | length if app.messages else 0) + (data.staffMessages[appID] | length if data.staffMessages[appID] else 0) %}

      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./application?url_id={{appID}}">
              Application
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments?url_id={{appID}}">
              Comments
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history?url_id={{appID}}">
              History
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./messages?url_id={{appID}}">
              Prisoner messages
            </a>
          </li>
        </ul>
      </nav>


      <h2 class="govuk-heading-m">Messages and replies</h2>
      <div class="govuk-warning-text govuk-!-margin-bottom-4">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          These messages will be sent to prisoner.
        </strong>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full staff-messages-panel">

          {% set hasJsonMessages = false %}
          {% for app in data['staffAppsDB'] %}
          {% if app.app_id == appID and app.messages | length %}
          {% set hasJsonMessages = true %}
          {% endif %}
          {% endfor %}
          {% set hasStaffMessages = data.staffMessages[appID] | length %}

          {% if hasJsonMessages or hasStaffMessages %}
          <div id="messages" class="moj-messages-container">
            <div class="moj-message-list">

              {% if app.messages | length %}
              {% for msg in app.messages %}
                {% set isPrisonerMessage = msg.sender == app.prisoner_name or msg.sender == 'Prisoner' %}
                {% if isPrisonerMessage %}
                <div class="moj-message-item moj-message-item--received">
                  <div class="moj-message-item__text moj-message-item__text--received">
                    <p class="moj-message-bubble__body">{{ msg.text }}</p>
                    <p class="moj-message-bubble__meta">{{ app.prisoner_name }}{% if msg.datetime %} on {{ msg.datetime | formatDateTime }}{% elif msg.date %} on <span class="reldate">{{ msg.date }}</span>{% if msg.time %} at {{ msg.time }}{% endif %}{% endif %}</p>
                  </div>
                </div>
                {% else %}
                {% set visibilityText = msg.visible_to if msg.visible_to else 'Staff and prisoner' %}
                {% set visibilityText = 'Staff and prisoner' if visibilityText == 'Prisoner and staff' else visibilityText %}
                {% if (visibilityText | trim | lower) != 'staff only' %}
                <div class="moj-message-item moj-message-item--sent">
                  <div class="moj-message-item__text moj-message-item__text--sent">
                    <p class="moj-message-bubble__body">{{ msg.text }}</p>
                    <p class="moj-message-bubble__meta">{{ msg.sender if msg.sender else 'S. Staff' }}{% if msg.datetime %} on {{ msg.datetime | formatDateTime }}{% elif msg.date %} on <span class="reldate">{{ msg.date }}</span>{% if msg.time %} at {{ msg.time }}{% endif %}{% endif %}</p>
                  </div>
                </div>
                {% endif %}
                {% endif %}
              {% endfor %}
              {% endif %}

              {% if hasStaffMessages %}
              {% for msg in data.staffMessages[appID] %}
                {% set visibilityText = msg.visible_to if msg.visible_to else 'Staff and prisoner' %}
                {% set visibilityText = 'Staff and prisoner' if visibilityText == 'Prisoner and staff' else visibilityText %}
                {% if (visibilityText | trim | lower) != 'staff only' %}
                <div class="moj-message-item moj-message-item--sent">
                  <div class="moj-message-item__text moj-message-item__text--sent">
                    <p class="moj-message-bubble__body">{{ msg.text }}</p>
                    <p class="moj-message-bubble__meta">{{ msg.from if msg.from else 'S. Staff' }}{% if msg.date %} on <span class="reldate">{{ msg.date }}</span>{% if msg.time %} at {{ msg.time }}{% endif %}{% endif %}</p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>
          </div>
          {% else %}
          <p class="govuk-body">No messages yet</p>
          {% endif %}
        </div>

        <div class="govuk-grid-column-two-thirds">


        {% if app.status != "Closed" %}
          <form method="post" action="/staff-latest/applications/view/app/messages?url_id={{ appID }}"
            class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="newMessage">
                Add a message
              </label>
              <textarea class="govuk-textarea" id="newMessage" name="newMessage" rows="5"></textarea>
            </div>

            <div class="moj-button-action">
              <button type="button" class="govuk-button" data-module="govuk-button" id="open-send-prisoner-message-modal-app">
                Send message
              </button>
            </div>

          </form>

          <div class="moj-modal" id="send-prisoner-message-modal-app" role="dialog" aria-modal="true" aria-labelledby="send-prisoner-message-title-app" hidden>
            <div class="moj-modal__overlay" data-close-send-prisoner-message-modal-app="true"></div>
            <div class="moj-modal__dialog" role="document">
              <button type="button" class="moj-modal__close" aria-label="Close modal" data-close-send-prisoner-message-modal-app="true">X</button>
              <h2 class="govuk-heading-m" id="send-prisoner-message-title-app">Are you sure you want to send this to a prisoner?</h2>
              <div class="govuk-button-group govuk-!-margin-top-6">
                <button type="button" class="govuk-button moj-modal__confirm-button" data-module="govuk-button" id="confirm-send-prisoner-message-app">
                  Yes
                </button>
                <a href="#" class="govuk-link" data-close-send-prisoner-message-modal-app="true">No, go back</a>
              </div>
            </div>
          </div>

          {% endif %}

        </div>
      </div>

    </div>

  </div>
  {% endif %}
  {% endfor %}


</div> <!-- end main content  -->



{% endblock %}

{% block pageScripts %}
<script>
  const autocompleteElementApp = document.querySelector('#my-autocomplete')
  if (autocompleteElementApp) {
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: autocompleteElementApp
    })
  }

  const appMessagesForm = document.querySelector('form[action^="/staff-latest/applications/view/app/messages"]')
  const appMessagesModal = document.getElementById('send-prisoner-message-modal-app')
  const appMessagesOpenButton = document.getElementById('open-send-prisoner-message-modal-app')
  const appMessagesConfirmButton = document.getElementById('confirm-send-prisoner-message-app')
  const appMessagesCloseControls = document.querySelectorAll('[data-close-send-prisoner-message-modal-app="true"]')

  function openAppMessagesModal () {
    if (!appMessagesModal) return
    appMessagesModal.removeAttribute('hidden')
    document.body.classList.add('moj-modal-open')
    if (appMessagesConfirmButton) {
      appMessagesConfirmButton.focus()
    }
  }

  function closeAppMessagesModal (focusButton) {
    if (!appMessagesModal) return
    appMessagesModal.setAttribute('hidden', 'hidden')
    document.body.classList.remove('moj-modal-open')
    if (focusButton && appMessagesOpenButton) {
      appMessagesOpenButton.focus()
    }
  }

  if (appMessagesOpenButton) {
    appMessagesOpenButton.addEventListener('click', openAppMessagesModal)
  }

  if (appMessagesConfirmButton && appMessagesForm) {
    appMessagesConfirmButton.addEventListener('click', function () {
      appMessagesForm.submit()
    })
  }

  appMessagesCloseControls.forEach(function (closeControl) {
    closeControl.addEventListener('click', function (event) {
      event.preventDefault()
      closeAppMessagesModal(true)
    })
  })

  document.addEventListener('keydown', function (event) {
    if (event.key === 'Escape' && appMessagesModal && !appMessagesModal.hasAttribute('hidden')) {
      closeAppMessagesModal(true)
    }
  })
</script>

{% endblock %}