{% extends "layouts/launchpad.html" %}
{% set pageName = data['first-name'] + "'s Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-latest/" %}
{% set appID = data['url_id'] %}

{% block content %}


<div class="govuk-grid-row" id="main-content">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-two-thirds">

        <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}/applications/">Apps</a>
            </li>
          </ol>
        </div>
      </nav>
      {% for app in data['prisonerAppsDB'] %}
      {% if app.app_id == appID %}

        {% if app.status !== "Closed" %}

          {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
            <p>You have sent this app and staff will process it as soon as possible.</p>
          {% endcall %}

      {% endif %}


      <h1 class="govuk-heading-xl">
          {{ app.app_type }}
      </h1>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
            {% if app.status == "New" %}
              <strong class="govuk-tag govuk-tag--light-blue">{{ app.status }}</strong>
            {% elif app.status == "In progress" %}
              <strong class="govuk-tag govuk-tag--yellow">{{ app.status }}</strong>
            {% elif app.status == "Closed" %}
              {% if app.decision == "Approved" %}
              <strong class="govuk-tag govuk-tag--green">{{ app.decision }}</strong>
              {% elif app.decision == "Declined" %}
              <strong class="govuk-tag govuk-tag--red">{{ app.decision }}</strong>
            {% endif %}
            {% endif %}

    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <h2 class="govuk-heading-m govuk-!-margin-top-6">App details</h2>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date
      </dt>
      <dd class="govuk-summary-list__value">
      <p class="govuk-body reldate">{{ app.date_received }}</p>
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        App type
      </dt>
      <dd class="govuk-summary-list__value">
      {{ app.app_type }}
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    {% if app.app_details %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Details
      </dt>
      <dd class="govuk-summary-list__value">
        {{ app.app_details }}
      </dd>
    </div>
    {% endif %}
  </dl>
  </div>

  {% if app.status !== "Closed" %}
  <div class="govuk-grid-column-two-thirds">

  {# Get session messages for this specific app #}
  {% set thisAppMessages = data.appMessages[appID] if data.appMessages and data.appMessages[appID] else [] %}

  {# Determine if there are any messages #}
  {% set hasAppMessages = app.messages and app.messages | length %}
  {% set hasSessionMessages = thisAppMessages | length %}
  {% set hasMessages = hasAppMessages or hasSessionMessages %}

  {# Work out who sent the last message #}
  {% set lastSender = '' %}
  {% if hasSessionMessages %}
    {% set lastSender = 'Prisoner' %}
  {% elif hasAppMessages %}
    {% set lastSender = app.messages[app.messages | length - 1].sender %}
  {% endif %}

  <h2 class="govuk-heading-m">Messages</h2>
  {% if hasMessages %}
  <div id="messages" class="moj-messages-container">
    <div class="moj-message-list">

      {# Show messages from the app database #}
      {% if hasAppMessages %}
        {% for message in app.messages %}
          {% if message.sender == "Prisoner" %}
          <div class="moj-message-item moj-message-item--sent">
            <div class="moj-message-item__text moj-message-item__text--sent">{{ message.text }}</div>
            <div class="moj-message-item__meta">
              <span class="moj-message-item__meta--sender">You</span>
              on <time class="moj-message-item__meta--timestamp"><span class="reldate">{{ message.date_received if message.date_received is defined else app.date_received }}</span> at {{ message.time if message.time else '09:00' }}</time>
            </div>
          </div>
          {% else %}
          <div class="moj-message-item moj-message-item--received">
            <div class="moj-message-item__text moj-message-item__text--received">{{ message.text }}</div>
            <div class="moj-message-item__meta">
              <span class="moj-message-item__meta--sender">{{ message.sender }}</span>
              on <time class="moj-message-item__meta--timestamp"><span class="reldate">{{ message.date_received if message.date_received is defined else app.date_received }}</span> at {{ message.time if message.time else '09:00' }}</time>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {# Show messages from session (sent during this session) #}
      {% if hasSessionMessages %}
        {% for message in thisAppMessages %}
          <div class="moj-message-item moj-message-item--sent">
            <div class="moj-message-item__text moj-message-item__text--sent">{{ message.text }}</div>
            <div class="moj-message-item__meta">
              <span class="moj-message-item__meta--sender">You</span>
              {% if message.date_offset is defined %}
              on <time class="moj-message-item__meta--timestamp"><span class="reldate">{{ message.date_offset }}</span> at {{ message.time if message.time else '09:00' }}</time>
              {% else %}
              at <time class="moj-message-item__meta--timestamp">{{ message.date }}</time>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}

    </div>
  </div>
  {% endif %}

  {% if lastSender == 'Prisoner' %}
    <p class="govuk-body-l">You can't send another message until staff reply to this one.</p>
  {% else %}
  <h2 class="govuk-heading-s">Send a message</h2>
  <form method="post" action="/prisoner-latest/applications/view/app?url_id={{ appID }}">  {{ govukTextarea({
      name: "message",
      id: "message",
      label: {
        text: "Message",
        classes: "govuk-visually-hidden"
      },
      hint: {
        text: "You can't ask for changes to your app once staff are working on it."
      }
    }) }}

    {{ govukButton({
      text: "Send"
    }) }}
  </form>
  {% endif %}

  {% endif %}
    {% endif %}
  {% endfor %}

    </div>
</div>
</div>
</div>



{% endblock %}