{% extends "layouts/launchpad.html" %}
{% set bodyClasses = 'launchpad' %}

{% set pageName="Log details" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set homeURL="/prisoner-latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% if not data['pin_03_amount'] %}
              <li>
                <a href="#pin_03_amount">Enter an amount</a>
              </li>
              {% endif %}
              {% if not data['pin_03_reason'] %}
              <li>
                <a href="#pin_03_reason">Enter a reason</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <span class="govuk-caption-xl">Add emergency PIN phone credit</span>
      <h1 class="govuk-heading-xl">Log details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" method="post">

              {% from "govuk/components/input/macro.njk" import govukInput %}

              {{ govukInput({
                id: "pin_03_amount",
                name: "pin_03_amount",
                label: {
                  text: "Amount",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value:  data['pin_03_amount'] ,
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-5",
                hint: {
                  text: "Use only multiples of £1"
                },
                errorMessage: {
                  text: "Enter an amount"
                } if not data['pin_03_amount']
              }) }}

              {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

              {{ govukCharacterCount({
                name: "pin_03_reason",
                id: "pin_03_reason",
                maxlength: 1000,
                threshold: 75,
                value:  data['pin_03_reason'] ,
                label: {
                  text: "Reason",
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Add a brief summary"
                },
                errorMessage: {
                  text: "Enter a reason"
                } if not data['pin_03_reason']
              }) }}      

            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a href="{{homeURL}}applications" class="govuk-link">Cancel</a>
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}