{% extends "layouts/launchpad.html" %}
{% set pageName = data['first-name'] + "'s Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-latest/" %}
{% set appID = data['url_id'] %}

{% block content %}


<div class="govuk-grid-row" id="main-content">

    <div class="govuk-width-container">
      <div class="govuk-grid-column-two-thirds">
      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeURL}}/applications/">Apps</a>
            </li>
          </ol>
        </div>
      </nav>


      {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
        <p>You have sent this app and staff will process it as soon as possible.</p>
      {% endcall %}
    
      <h1 class="govuk-heading-xl">
      {% for group, details in data['appGroupsTypes'] %}
      {% for app in details.apps %}
      {% if app.app_id == data['appType'] %}
      {{ app.app_type }}
      {% endif %}
      {% endfor %}
      {% endfor %}
      </h1>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--light-blue">New</strong>
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <h2>App details</h2>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date
      </dt>
      <dd class="govuk-summary-list__value">
      <p class="govuk-body">{{ 0 | govDate }}</p>
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Type
      </dt>
      <dd class="govuk-summary-list__value">
      {% for group, details in data['appGroupsTypes'] %}
      {% for app in details.apps %}
      {% if app.app_id == data['appType'] %}
      {{ app.app_type }}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    {# Show app-specific details based on type #}
    {% if data['appType'] == 'app_0101' %}
      {% include "prisoner-latest/applications/view/new/includes/_official-pin-details.html" %}
    {% elif data['appType'] == 'app_0102' %}
      {% include "prisoner-latest/applications/view/new/includes/_social-pin-details.html" %}
    {% elif data['appType'] == 'app_0103' %}
      {% include "prisoner-latest/applications/view/new/includes/_emergency-pin-details.html" %}
    {% elif data['appType'] == 'app_0104' %}
      {% include "prisoner-latest/applications/view/new/includes/_remove-pin-details.html" %}
    {% else %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Details
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['app_detail'] %}
          {{ data['app_detail'] }}
        {% else %}
          Request to swap all VOs from last month
        {% endif %}
      </dd>
    </div>
    {% endif %}
  </dl>

  {# Get session messages for this specific app #}
  {% set thisAppMessages = data.appMessages['new'] if data.appMessages and data.appMessages['new'] else [] %}

  {# Determine if there are any messages #}
  {% set hasMessages = thisAppMessages | length %}

  {# Work out who sent the last message #}
  {% set lastSender = '' %}
  {% if hasMessages %}
    {% set lastSender = 'Prisoner' %}
  {% endif %}

  <h2 class="govuk-heading-m">Messages</h2>
  {% if hasMessages %}
  <div id="messages" class="moj-messages-container">
    <div class="moj-message-list">

      {% for message in thisAppMessages %}
        <div class="moj-message-item moj-message-item--sent">
          <div class="moj-message-item__text moj-message-item__text--sent">{{ message.text }}</div>
          <div class="moj-message-item__meta">
            <span class="moj-message-item__meta--sender">You</span> at <time class="moj-message-item__meta--timestamp">{{ message.date }}</time>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  {% endif %}

  {% if lastSender == 'Prisoner' %}
    <p class="govuk-body-l">You can't send another message until staff reply to this one.</p>
  {% else %}
  <h2 class="govuk-heading-s">Send a message</h2>
  <form method="post" action="/prisoner-latest/applications/view/new">
    {{ govukTextarea({
      name: "message",
      id: "message",
      label: {
        text: "Message",
        classes: "govuk-visually-hidden"
      },
      hint: {
        text: "You can't ask for changes to your app once staff are working on it."
      }
    }) }}

    {{ govukButton({
      text: "Send"
    }) }}
  </form>
  {% endif %}

    </div>


    </div>

</div>
</div>



{% endblock %}