{% extends "layouts/dps.html" %}

{% set pageName="Application details" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff-latest/" %}
{% set selectedAppId = data['appType'] %}
{% set selectedAppType = data['checkappType'] %}
{% set selectedAppGroup = data['checkAppGroup'] or data['appGroup'] %}
{% if (not selectedAppType or selectedAppType == 'Application details') and data['appGroupsTypes'] and selectedAppId %}
  {% for groupKey, appGroup in data['appGroupsTypes'] %}
    {% for app in appGroup.apps %}
      {% if app.app_id == selectedAppId %}
        {% set selectedAppType = app.app_type %}
        {% set selectedAppGroup = appGroup.name %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
{% set selectedAppType = selectedAppType or 'Application details' %}
{% set selectedAppGroup = selectedAppGroup or 'Application group' %}
{% set selectedPrisonerName = data['prisonerName'] or data['prisoner_name'] or 'Patel, Taj' %}
{% set selectedPrisonerNumber = data['prisonNumber'] or data['app_prisonNumber'] or data['prisoner_number'] or 'A1234BC' %}
{% set isClosed = data['actionRespond'] or data['decision'] == 'Approved' or data['decision'] == 'Declined' %}
{% set isInProgress = data['newAppStatus'] == 'In progress' %}
{% set currentStatus = 'Closed' if isClosed else ('In progress' if isInProgress else 'New') %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/view/">View all applications</a>
  					</li>
  				</ol>
  			</div>
  		</nav>
      <span class="govuk-caption-xl">{{ selectedAppGroup }}</span>
      <h1 class="govuk-heading-xl">
        {{ selectedAppType }}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">

      {% if not isClosed %}
      {% call govukInsetText({ classes: "govuk-!-margin-bottom-5" }) %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Action this application</h3>
        <div class="govuk-button-group">
          {% if not isInProgress %}
          <a href="./mark-in-progress" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button--secondary">
            Mark as in progress
          </a>
          {% endif %}
          <a href="./forward" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button--secondary">
            Forward to another department
          </a>
          <a href="./action" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button--secondary">
            Mark as closed
          </a>
        </div>
      {% endcall %}
      {% endif %}


      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./application">
              Application 
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments">
              Comments
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history">
              History
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./messages">
              Messages
            </a>
          </li>
        </ul>
      </nav>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Application details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                {{ currentStatus }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['appDept'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if isClosed %}
                {% else %}
                  <a class="govuk-link" href="forward">Forward<span class="govuk-visually-hidden"> department</span></a>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                {{ selectedAppType }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application group
              </dt>
              <dd class="govuk-summary-list__value">
                {{ selectedAppGroup }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date
              </dt>
              <dd class="govuk-summary-list__value reldate">
                {{ data['date_received'] or 0 }}
              </dd>
            </div>
            <!--
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                3453546
              </dd>
            </div>-->
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list  govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {{ selectedPrisonerName }} ({{ selectedPrisonerNumber }})
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View profile</a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                A-1234
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alerts
              </dt>
              <dd class="govuk-summary-list__value">
                5
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">View alerts</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Incentive level
              </dt>
              <dd class="govuk-summary-list__value">
                Advanced
              </dd>
            </div>
          </dl>

      <div class="govuk-summary-list--header">
        <h2 class="govuk-heading-m">Action and department</h2>
        {% if isClosed %}
        {% else %}
        <a href="#" class="govuk-body">Change <span class="govuk-visually-hidden"> Visiting orders</span></a>
        {% endif  %}
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['app_detail'] %}
              {{ data['app_detail'] }}
            {% else %}
              Request to swap all VOs from last month
            {% endif %}
          </dd>
        </div>
      </dl>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
