{% extends "layouts/dps.html" %}

{% set pageName="History" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff-latest/" %}
{% set selectedAppId = data['appType'] %}
{% set selectedAppType = data['checkappType'] or 'Application details' %}
{% set isClosedApproved = data['actionRespond'] == 'Approved' %}
{% set isClosedDeclined = data['actionRespond'] == 'Declined' %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/view/">View all applications</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      
      <span class="govuk-caption-xl">{{ selectedAppType }}</span>
      <h1 class="govuk-heading-xl">
        History
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./application">
              Application 
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments">
              Comments
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  aria-current="page" href="./history">
              History
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./messages">
              Messages
            </a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">History of this application</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="moj-timeline">
            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Application logged <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-14T14:01:00">14 June 2026 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">Assigned to Business Hub</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Application forwarded <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-14T14:01:00">14 June 2026 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">Forwarded to Offender Management unit (OMU)</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Comment <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-14T14:01:00">14 June 2026 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">First contact attempt made - no answer. Will try again tomorrow</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Message from prisoner <span class="govuk-!-font-weight-regular">by Patel, Taj</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-15T14:01:00">15 June 2026 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">my mum works in a school so she wont answer until after 3</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Message to prisoner <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-15T14:01:00">15 June 2026 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">Thank you, that is helpful</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Comment <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2026-06-15T16:01:00">15 June 2026 at 4:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">Second contact attempt made - no answer. Will try again tomorrow</p>
              </div>
            </div>

            <div class="moj-timeline__item">
              <h2 class="moj-timeline__title">Application closed <span class="govuk-!-font-weight-regular">by J Bloggs</span></h2>
              <p class="moj-timeline__date"><time datetime="2019-06-16T14:01:00">16 June 2019 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p class="govuk-body">Application approved. Contact made and approved. Number has been added.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> <!-- end main content  -->



{% endblock %}
