/* ==========================================================================
   COMPONENTS / #INSET TEXT
   ========================================================================== */

    .guidance-panel {
        border-left-color: govuk-colour('blue');
        background-color: #eaf4f9;
        margin: 1em 0 !important;
    }