{% extends "layouts/launchpad.html" %}
{% set pageName="John's Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-latest/" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <form class="form" action="/prisoner-latest/applications/new/type">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Log an application</span>
                <h1 class="govuk-fieldset__heading">
                  Select application group
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">

          {% for group, details in data['appGroupsTypes'] %}
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ group }}" name="appGroup" type="radio" value="{{ group }}">
              <label class="govuk-label govuk-radios__label" for="{{ group }}">
                {{ details.name }}
              </label>
            </div>
          {% endfor %}

              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}