{% extends "layouts/launchpad.html" %}
{% set pageName = data['first-name'] + "'s Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-latest/" %}

{% block content %}

<div class="govuk-width-container">
  <a href="{{homeURL}}applications/" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <span class="govuk-caption-xl">Send a new app</span>
    <h1 class="govuk-heading-xl">Select app group</h1>

    <div class="tiles-panel govuk-!-margin-bottom-6 govuk-!-margin-top-0 govuk-!-padding-top-0">
      <div id="tiles">
        {% for group, details in data['appGroupsTypes'] %}
        <div class="link-tile">
          <a href="{{homeURL}}applications/new/type?appGroup={{ group }}">
            <img src="/public/images/apps/{{ details.image }}"
                alt="{{ details.name }}"
                loading="lazy" />
            <footer class="govuk-!-padding-4 govuk-grid-column-full">
              <h3 class="govuk-heading-m">{{ details.name }}</h3>
              <p class="govuk-body">{{ details.description }}</p>
            </footer>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

  </main>
</div>

{% endblock %}