{% extends "layouts/launchpad.html" %}
{% set pageName = data['first-name'] + "'s Profile" %}
{% set bodyClasses = 'launchpad profile' %}
{% set homeURL="/prisoner-latest/" %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <span class="govuk-caption-xl">Send a new app</span>
                <h1 class="govuk-fieldset__heading">
                  Select app group
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">

          {% for group, details in data['appGroupsTypes'] %}
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ group }}" name="appGroup" type="radio" value="{{ group }}">
              <label class="govuk-label govuk-radios__label" for="{{ group }}">
                {{ details.name }}
              </label>
            </div>
          {% endfor %}

              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a href="{{homeURL}}applications/" class="govuk-link">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}